body,html{
    height:auto;
    width:100vw;
    margin:0;
    padding: 0;
    color: #000108;
    overflow-x: hidden;
    
}
@font-face {
    font-family: kapakana;
    src: url(../font/kapakana-regular.ttf);
  }
/*nav*/
nav{
    height: 10%;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15%;
    position: fixed;
    z-index: 20000;
}
nav>li{
    font-size: 1.5em;
    list-style-type: none;
   
}

nav>li>a,a:visited, nav>li>a:hover, nav>li>a:active{
    color:inherit;
    text-decoration: none;
}

/*logo*/
nav div h1{
    font-size: 5em;
    font-family: kapakana;
}
.user-icon{
    height: 50px;
    width: 50px;
}
/*nav end*/

/*user*/
#user-parametre{
    height: 20vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color: #5F2F74;
    color: white;
    position: fixed;
    top: 10%;
    left: 80%;
    display:none;
    z-index: 20000;
}

.user-connexion{
    width: 100%;
    text-align: center;
    display: flex;
    
    justify-content:end

}
.user-panel{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
    align-items: center;
}
.user-name,.user-profil{
    position: relative;
    right: 30%;
}
.exit-parametre{
    cursor: pointer;
   margin-right: 20%;
}
video{
    position:fixed;
    min-height: 100vh;
    min-width: 100vw;
    object-fit: cover;
    top: 0;
}