#content{
    width: 100vw;
    height:auto;
}
main{
    min-width: 100vw;
    min-height:100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.produit-container{
    height:auto;
    min-height:80vh;
    width:100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(252, 252, 255, 0.4);
    backdrop-filter: blur(15px);
    position: relative;
    top:10vh;

}
.categories{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    position: relative;
    bottom:40vh;
}
.categories>li{
    font-size: 2em;
    list-style-type: none;
    gap: 10%;
}
.column{
    display: flex;
    flex-direction: row;

    gap:3%
}
.piece-img{
    height:20vw;
    width:20vw;
}